__pycache__/
.env
backend/.env
.DS_Store/
*.pyc
backend/.venv
.pytest_cache/
.vscode/

# Frontend
carpool-frontend/node_modules/
carpool-frontend/.next/
carpool-frontend/out/
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/